@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color:#191a1a;
}

body,body *{
    
   /* background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(47,9,121,1) 49%, rgba(0,67,255,1) 100%);
*/
    font-family: 'Roboto', sans-serif;  
    color:#a6a6a6; 
}
input {
    background-color: #2b2e30;
    border: none;
    border-radius: 10px;
    padding:5px;
    box-shadow: none;
    transition:all 0.2s ease;
    padding-left:20px;

    font-size:150%;
}
input.valid:focus {
    outline:none;
    /*box-shadow: 0 4px 0px 0 rgba(23, 168, 108, 0.75);*/
    box-shadow: 0 4px 0px 0  #1f8ef0;
}
input:focus{
    outline:none;
    box-shadow: 0 4px 0px 0 #e00d0d;
}
a:link{
  text-decoration: none;
  color:#0c6391;
}
a:hover{
  color:#0b4d70;
}

button {
    width: 200px;
    font-size: 150%;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    border-radius: 50px;

    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
button:hover{
    filter:brightness(0.8);
}
button:focus{
    outline:none;
}
.holder{
    position:relative;
    margin-top:15px;
    background-color:#292c2e;
    border-radius: 10px;
    padding-left:0 0;
    padding-top: 1px;
    padding-bottom:1px;
}
p{
    text-align: center;
}
button.small{
    margin:5px;
    padding:20px;
    background-color: rgba(256,256,256,0.1);
    width:30px;
    height:30px;
    background-repeat: no-repeat;

    -o-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    display:block;
}
button.small:focus{
    box-shadow: 0px 0px 0px 2px #a6a6a6 ;
}


.spinner {
    width: 70px;
    text-align: center;
  
    position: relative;
    top: 50%;
    left: 50%;
  
    transform: translate(-50%, -50%);
  }
  
  .spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(143, 143, 143);
  
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
    }
  }
  
  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }

.loading{
    padding-top:18px;
}